<!-- @(MSG_ORIGIN) -->
<!-- @(MSG_EDIT_WARNING) -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>@(Project.iOS.BundleName)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@(Project.Version)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array>
#if @(Project.Mobile.UriScheme:isset)
				<string>@(Project.Mobile.UriScheme)</string>
#endif
#if @(Project.iOS.PList.UriSchemes:isset)
				@(Project.iOS.PList.UriSchemes:splitAndJoin('\n\t\t\t\t', '<string>', '</string>'))
#endif
			</array>
		</dict>
	</array>

	<key>CFBundleVersion</key>
	<string>@(Project.iOS.BundleVersion)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
#if @(Project.iOS.PList.UIRequiredDeviceCapabilities:isset)
		@(Project.iOS.PList.UIRequiredDeviceCapabilities:splitAndJoin('\n\t\t', '<string>', '</string>'))
#endif
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
#if @(Project.Mobile.Orientations:Equals('Auto')) || @(Project.Mobile.Orientations:Equals('Portrait'))
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
#endif
#if @(Project.Mobile.Orientations:Equals('Auto')) || @(Project.Mobile.Orientations:Equals('Landscape'))
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
#endif
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
#if @(Project.Mobile.Orientations:Equals('Auto')) || @(Project.Mobile.Orientations:Equals('Portrait'))
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
#endif
#if @(Project.Mobile.Orientations:Equals('Auto')) || @(Project.Mobile.Orientations:Equals('Landscape'))
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
#endif
	</array>

	@(Xcode.Plist.Element:join('\n\t'))

	<key>NSCameraUsageDescription</key>
	<string>@(Project.iOS.PList.NSCameraUsageDescription || PListDefaults.NSCameraUsageDescription)</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>@(Project.iOS.PList.NSMicrophoneUsageDescription || PListDefaults.NSMicrophoneUsageDescription)</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>@(Project.iOS.PList.NSPhotoLibraryUsageDescription || PListDefaults.NSPhotoLibraryUsageDescription)</string>

#if @(Project.iOS.PList.MKDirectionsApplicationSupportedModes:isset)
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		@(Project.iOS.PList.MKDirectionsApplicationSupportedModes:splitAndJoin('\n\t\t', '<string>', '</string>'))
	</array>
#endif

#if @(Project.iOS.PList.NSHealthShareUsageDescription:isset)
	<key>NSHealthShareUsageDescription</key>
	<string>@(Project.iOS.PList.NSHealthShareUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSHealthUpdateUsageDescription:isset)
	<key>NSHealthUpdateUsageDescription</key>
	<string>@(Project.iOS.PList.NSHealthUpdateUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSCalendarsUsageDescription:isset)
	<key>NSCalendarsUsageDescription</key>
	<string>@(Project.iOS.PList.NSCalendarsUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSBluetoothPeripheralUsageDescription:isset)
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>@(Project.iOS.PList.NSBluetoothPeripheralUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSAppleMusicUsageDescription:isset)
	<key>NSAppleMusicUsageDescription</key>
	<string>@(Project.iOS.PList.NSAppleMusicUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSContactsUsageDescription:isset)
	<key>NSContactsUsageDescription</key>
	<string>@(Project.iOS.PList.NSContactsUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSHomeKitUsageDescription:isset)
	<key>NSHomeKitUsageDescription</key>
	<string>@(Project.iOS.PList.NSHomeKitUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSLocationAlwaysUsageDescription:isset)
	<key>NSLocationAlwaysUsageDescription</key>
	<string>@(Project.iOS.PList.NSLocationAlwaysUsageDescription)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>@(Project.iOS.PList.NSLocationAlwaysUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSLocationUsageDescription:isset)
	<key>NSLocationUsageDescription</key>
	<string>@(Project.iOS.PList.NSLocationUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSLocationWhenInUseUsageDescription:isset)
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>@(Project.iOS.PList.NSLocationWhenInUseUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSMotionUsageDescription:isset)
	<key>NSMotionUsageDescription</key>
	<string>@(Project.iOS.PList.NSMotionUsageDescription)</string>
#endif

#if @(Project.iOS.PList.NSFaceIDUsageDescription:isset)
	<key>NSFaceIDUsageDescription</key>
	<string>@(Project.iOS.PList.NSFaceIDUsageDescription)</string>
#endif

#if @(FontFile:IsRequired)
	<key>UIAppFonts</key>
	<array>
		@(FontFile:join('\n\t\t', '<string>@(BundleDirectory)/', '</string>'))
	</array>
#endif

#if @(Project.iOS.PList.UIApplicationExitsOnSuspend:isset)
	<key>UIApplicationExitsOnSuspend</key>
	<@(Project.iOS.PList.UIApplicationExitsOnSuspend:bool)/>
#endif

	<key>UIBackgroundModes</key>
	<array>
#if @(iOS.BackgroundModes:IsRequired)
		@(iOS.BackgroundModes:join('\n\t\t', '<string>', '</string>'))
#endif
#if @(Project.iOS.PList.UIBackgroundModes:isset)
		@(Project.iOS.PList.UIBackgroundModes:splitAndJoin('\n\t\t', '<string>', '</string>'))
#endif
#if @(Project.iOS.SystemCapabilities.Location:test(1, 0))
		<string>location</string>
#endif
#if @(Project.iOS.SystemCapabilities.Push:test(1, 0))
		<string>remote-notification</string>
#endif
	</array>

#if @(Project.iOS.PList.UIFileSharingEnabled:isset)
	<key>UIFileSharingEnabled</key>
	<@(Project.iOS.PList.UIFileSharingEnabled:bool)/>
#endif

#if @(Project.iOS.PList.UINewsstandApp:isset)
	<key>UINewsstandApp</key>
	<@(Project.iOS.PList.UINewsstandApp:bool)/>
#endif

#if @(Project.iOS.PList.UIPrerenderedIcon:isset)
	<key>UIPrerenderedIcon</key>
	<@(Project.iOS.PList.UIPrerenderedIcon:bool)/>
#endif

#if @(Project.iOS.PList.UIRequiresPersistentWiFi:isset)
	<key>UIRequiresPersistentWiFi</key>
	<@(Project.iOS.PList.UIRequiresPersistentWiFi:bool)/>
#endif

	<key>UIStatusBarHidden</key>
	<@(Mobile.DisableStatusbar:bool)/>

	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>

#if @(Project.iOS.PList.UISupportedExternalAccessoryProtocols:isset)
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		@(Project.iOS.PList.UISupportedExternalAccessoryProtocols:splitAndJoin('\n\t\t', '<string>', '</string>'))
	</array>
#endif

#if @(Project.iOS.PList.UIViewControllerBasedStatusBarAppearance:isset)
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<@(Project.iOS.PList.UIViewControllerBasedStatusBarAppearance:bool)/>
#endif

#if @(Project.iOS.PList.UIViewEdgeAntialiasing:isset)
	<key>UIViewEdgeAntialiasing</key>
	<@(Project.iOS.PList.UIViewEdgeAntialiasing:bool)/>
#endif
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
